@font-face {
    font-family: "Bold";
    src: url("../assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "Medium";
    src: url("../assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}


@media screen and (min-width : 980px) {
    .select_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .top {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


    .add {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 91%;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid hsl(229, 24%, 87%);
    }

    .left_add {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .checkdiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    input[type="checkbox"] {
        background-color: hsl(243, 100%, 62%);
    }

    .right_add {
        width: 60px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left_add p {
        text-shadow: 1px 1px hsl(206, 94%, 87%);
        font-family: "Medium";
        color: hsl(213, 96%, 18%);

    }

    .left_add label {
        color: hsl(231, 11%, 63%);
        font-family: "Regular";
        font-size: 13px;
    }

    .addprice {
        color: hsl(243, 100%, 62%);
        font-family: "Regular";
        font-size: 10px;
        visibility: hidden;
    }

}